/* 
  This file defines the default styling for the Places Autocomplete component.
  It uses Tailwind's @apply directive to create component classes from utility classes.
  This file is processed by Vite and PostCSS to generate a standalone CSS file (dist/places-autocomplete.css)
  that can be used as a fallback for users who are not using Tailwind CSS.
*/

p{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 
@reference "tailwindcss";

:root,
:host {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: 1.5;
  font-family: var(
    --default-font-family,
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji"
  );
  font-feature-settings: var(--default-font-feature-settings, normal);
  font-variation-settings: var(--default-font-variation-settings, normal);
  -webkit-tap-highlight-color: transparent;
  --color-red-50: #fef2f2;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-800: #166534;
  --color-emerald-300: #6ee7b7;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-emerald-700: #047857;
  --color-sky-300: #7dd3fc;
  --color-sky-400: #38bdf8;
  --color-sky-500: #0ea5e9;
  --color-sky-600: #0284c7;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-violet-300: #c4b5fd;
  --color-pink-300: #f9a8d4;
  --color-slate-50: oklch(98.4% 0.003 247.858);
  --color-slate-200: oklch(92.9% 0.013 255.508);
  --color-slate-300: oklch(86.9% 0.022 252.894);
  --color-slate-400: oklch(70.4% 0.04 256.788);
  --color-slate-500: oklch(55.4% 0.046 257.417);
  --color-slate-600: oklch(44.6% 0.043 257.281);
  --color-slate-700: oklch(37.2% 0.044 257.287);
  --color-slate-800: oklch(27.9% 0.041 260.031);
  --color-slate-900: oklch(20.8% 0.042 265.755);
  --color-gray-50: #f9fafb;
  --color-gray-100: #f4f5f7;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d2d6dc;
  --color-gray-400: #9fa6b2;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-zinc-50: #f9fafb;
  --color-zinc-100: #f4f5f7;
  --color-zinc-200: #e5e7eb;
  --color-zinc-300: #d2d6dc;
  --color-zinc-400: #9fa6b2;
  --color-zinc-500: #6b7280;
  --color-zinc-600: #4b5563;
  --color-zinc-700: #374151;
  --color-zinc-800: #1f2937;
  --color-zinc-900: #111827;
  --color-black: #000;
  --color-white: #fff;
  --spacing: 0.25rem;
  --container-md: 28rem;
  --container-lg: 33rem;
  --container-2xl: 40rem;
  --text-xs: 0.8125rem;
  --text-xs--line-height: 1.5rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.5rem;
  --text-base: 1rem;
  --text-base--line-height: 1.75rem;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;
  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.5rem;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --tracking-tight: -0.025em;
  --leading-tight: 1.25;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --blur-xs: 4px;
  --blur-sm: 8px;
  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --color-primary-500: #fe795d;
}

/* Main container for the entire widget, including label and input container. */
.pac-section {
  /* No default styles, but available for user customization. */
}

/* The direct container for the input field and suggestions list. */
.pac-container {
  @apply relative z-10 mt-1 transform rounded-lg;
}

/* Container for the search icon inside the input field. */
.pac-icon-container {
  @apply pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3;
}

.pac-w-5 {
  @apply w-5;
}

.pac-h-5 {
  @apply h-5;
}

/* The input field itself. */
.pac-input {
  @apply border w-full rounded-md shadow-sm bg-gray-100 px-4 py-2.5 pl-10 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 sm:text-sm;
}

/* Container for the keyboard hints (Esc, Up, Down) on the right side of the input. */
.pac-kbd-container {
  @apply absolute inset-y-0 right-0 flex py-1.5 pr-1.5;
}

/* Styling for the 'Esc' key hint. */
.pac-kbd-escape {
  @apply mr-1 inline-flex w-8 items-center rounded-sm border border-gray-300 px-1 font-sans text-xs text-gray-500;
}

/* Styling for the 'Up Arrow' key hint. */
.pac-kbd-up {
  @apply inline-flex w-6 items-center justify-center rounded-sm border border-gray-300 px-1 font-sans text-xs text-gray-500;
}

/* Styling for the 'Down Arrow' key hint. */
.pac-kbd-down {
  @apply inline-flex w-6 items-center justify-center rounded-sm border border-gray-400 px-1 font-sans text-xs text-gray-500;
}

/* Class added to a key hint when it is actively being pressed. */
.pac-kbd-active {
  @apply bg-indigo-500 text-white;
}

/* The suggestions list (<ul>). */
.pac-ul {
  @apply absolute z-50 -mb-2 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white p-0 text-base shadow-lg ring-1 ring-black focus:outline-none sm:text-sm divide-y divide-gray-100 list-none;
}

/* A single suggestion item (<li>). */
.pac-li {
  @apply cursor-default select-none py-2 px-2 lg:px-4 text-gray-900 hover:bg-indigo-500 hover:text-white;
}

/* The button element inside a suggestion item. */
.pac-li-button {
  @apply flex w-full justify-between;
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

/* A container for the main content within a suggestion item's link. */
.pac-li-div-container {
  @apply flex w-full justify-between items-center;
}

/* The primary flex container for the suggestion text. */
.pac-li-div-one {
  @apply min-w-0 flex-auto flex items-center gap-x-3;
}

/* The SVG icon representing the map pin. */
.pac-map-icon-svg {
  @apply shrink-0 h-6 w-6;
}

/* The paragraph container */
.pac-li-div-p-container {
  @apply flex justify-center items-start flex-col min-h-10;
}

/* The paragraph element holding the suggestion text. */
.pac-li-div-one-p {
  @apply text-sm/6; /* text-sm/6 */
}

.pac-li-div-one-p-secondaryText {
  @apply text-xs/6;
}

/* Class for the currently highlighted/selected suggestion item, usually via keyboard navigation. */
.pac-li-current {
  @apply bg-indigo-500 text-white;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

/* Class for the anchor tag of the currently highlighted suggestion item. */
.pac-li-button-current {
  @apply text-white;
}

/* The container for the distance information on the right side of the suggestion. */
.pac-li-div-two {
  @apply shrink-0 flex flex-col items-end min-w-16;
}

/* The paragraph element for the distance text. */
.pac-li-div-two-p {
  @apply text-xs; /* text-xs/5 */
}

/* Class applied to the part of the suggestion text that matches the user's input. */
.pac-highlight {
  @apply font-bold;
}
